<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.joonzis.mapper.BoardMapper"> <!-- 경로 표기법이 클래스명 표기법처럼 사용된다! -->
	<select id="get" resultType="org.joonzis.domain.BoardVO" parameterType="org.joonzis.domain.Criteria">
		 <![CDATA[	select * from 
					(select /*+index_desc(tbl_board pk_board) */ 
						rownum rn, bno, title, content, writer, regdate, updatedate 
						from tbl_board 
				 	where rownum <= (#{pageNum} * #{amount}) ) s
					 where s.rn > ((#{pageNum}-1) * #{amount})	
					]]> 
	</select>
	<insert id="insert" parameterType="org.joonzis.domain.BoardVO">
		insert into tbl_board
		(bno, title, content, writer)
		VALUES(seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>
	<select id="read" resultType="org.joonzis.domain.BoardVO" parameterType="int">
		SELECT * FROM TBL_BOARD WHERE BNO = #{bno}
	</select>
	<delete id="delete">
		DELETE FROM TBL_BOARD WHERE BNO = #{bno}
	</delete>
	<update id="update" parameterType="org.joonzis.domain.BoardVO">
		UPDATE TBL_BOARD SET TITLE = #{title} , CONTENT = #{content} , UPDATEDATE = SYSDATE
		WHERE BNO = #{bno}
	</update>
	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM TBL_BOARD
	</select>
</mapper>